:root {
  --gray-color: #090b13;
  --white-color: rgb(249, 249, 249);
  --header-height: 70px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--white-color);
  background-color: #040714;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}
